.container {
    display: block;
    width: 100%;
}

.card {
    border: 1px solid black;
    float: left;
    /* margin: 0 15px 30px 15px; */
    margin-left: 15px !important;
    margin-bottom: 15px !important;
    width: calc( 100% / 3 - 25px);
    height: 420px;
}

.card img {
    height: 180px;
}

.card .card-body .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 30px;
}

.container .card:first-child {
    margin-left: 0;
}

.container .card:nth-child(3n) {
    margin-right: 0;
}

.container .card:last-child {
    margin-right: 0;
}